{
	"presets": [
		"env",
		"react"
	],
	"plugins": [
		"transform-class-properties",
		"wildcard"
	],
	"env": {
		"test": {
			"plugins": [
				"rewire"
			]
		},
		"rollup": {
			"presets": [
				[
					"env",
					{
						"modules": false
					}
				]
			],
			"plugins": [
				"external-helpers",
				"transform-class-properties",
				"wildcard"
			]
		}
	}
}
